@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-men{
  width: 50%;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in 0.3s;

  &:hover{
    background-color: white;
    color: #242424;
  }
}

.dice{
  cursor: pointer;
  transition: all ease-in 0.3s;

  &:hover{
    transform: rotate(20deg);
  }
}
